<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Escalate.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
				<key>dateExpires</key>
				<string>24/07/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FloatRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>37E1EC747020B9B9AE8F79BDDEC7C4C408ACDD7B</string>
						<key>dateExpires</key>
						<string>24/07/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXKGA3V38W</string>
						<key>name</key>
						<string>Samuel Kiroko</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AXKGA3V38W.com.app.Escalate</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AXKGA3V38W</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Escalate.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c06efeaf-4b36-462d-b2aa-72386aa45f9c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.app.Escalate</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AXKGA3V38W</string>
				<key>name</key>
				<string>Samuel Kiroko</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
